$breakpoint-tablet: 600px;

.content {
  display: flex;
  flex-wrap: wrap;

  .pros, .cons {
    min-width: 300px;
    flex: 1;
    text-align: center;
    font-size: 20px;

    h3 {
      border-bottom: 1px solid black;
      padding: 15px 0;
    }
  }

  .pros {
    @media (min-width: $breakpoint-tablet) {
      border-right: 1px solid black;
    }
  }
}

